
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: roboto, Tahoma, sans-serif;
    text-align: center;
    margin-top: 200px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}


.topnav {
    float: right;
text-align: center;
padding: 14px 16px;
margin: 0;
}



googlelogo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.searchbar {
   
    margin: auto;
   width:100%;
   max-height: 30%;
   margin-bottom: 10px;
}
.bar{
    border-radius:0;
    -webkit-box-shadow: 2px 3px 0px -2px #ccc;
    padding:10px;
    border:0px;
    outline: none;
    border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #CCC;
  border-radius: 25px;
}
.bar:hover{
    -webkit-box-shadow: 3px 6px 7px -3px #ccc;
}

.buscar {
   
    background-color: #f8f9fa;
 border-radius: 4px;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
margin-top: 11px;
margin-right: 4px;
margin-bottom: 11px;
margin-left: 4px;
padding: 0 16px;
padding-top: 0px;
padding-right: 16px;
padding-bottom: 0px;
padding-left: 16px;
line-height: 10px;
height: 36px;
min-width: 54px;
text-align: center;



 }

 .buscar:hover  {

    box-shadow: 0 1px 1px rgba(199, 190, 190, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #202124;
 }

 

 .footer_navbar {

    font-size: 14px;
    padding: 14px 16px;
    float: left;
    display: block;
    text-align: left;
    overflow: hidden;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
   word-spacing: 30px;
  }

  .footer_left {

    float: right;
    padding-right: 50px;
  }

  a:link {

    text-decoration: none;
    color: #70757a
 
  }

  

  a:visited {

    color: #70757a;
   text-decoration: none;

  }


  a:hover {
    text-decoration: underline;
}


a:active {
    text-decoration: underline;
}