
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: roboto, Tahoma, sans-serif;
    text-align: center;
    margin-top: 150px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}



.topnav {
   float: right;
    position: fixed;
   top: 0;
   margin-top: 20px;
   word-spacing: 15px;
   text-align: right;
   padding-left: 1100px;

 
}

.topnav a {

  margin-top: 0;
  
}



.googlelogo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}


  .searchbar{

    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    
    
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
  }
 
  .submit{
    margin-top:30px;
    
  }
  .buscar{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
    margin-top:20px;
    
  }

  .buscar:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .buscar:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  


 

 .footer_navbar {

    font-size: 14px;
    padding: 14px 16px;
    float: left;
    display: block;
    text-align: left;
    overflow: hidden;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
   word-spacing: 30px;
  }

  .footer_left {

    float: right;
    padding-right: 50px;
  }

  a:link {

    text-decoration: none;
    color: #70757a
 
  }

  

  a:visited {

    color: #70757a;
   text-decoration: none;

  }


  a:hover {
    text-decoration: underline;
}


a:active {
    text-decoration: underline;
}